*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.home-body{
    background-image: url("img/background/bk1.jpg");
    background-size: cover ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(321,158,123);
    position: absolute;
    clip-path: circle(40% at right 70%);
    z-index: -1;
}
.home-container{
    background-color: white;
    opacity: 60%;
    width: 80%;
    height: 80%;
    border-radius: 20px ;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

#home-logo{
    width: 150px;
    height: 150px;
    text-transform: uppercase;
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    letter-spacing: 3px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}



.home-nav ul li{
    display: inline-block;
    margin: 0 5px;
}
.home-nav ul li a{
    font-weight: 800;
    background-color: lightgray;
    border-radius: 5px;
}

.home-nav ul li a:hover{
    color: #000000;
    background-color: #adff2f;
}
.home-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80% ;
    width: 80%;
    margin: auto;
}

.home-content .home-text{
    width: 40% ;
    color: darkblue;
}
.home-text h2{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
.home-text p{
    font-size: 18px;
    margin: 10px 0;
    line-height: 25px;
    font-weight: 500;
}

.home-img{
    width: 40%;
    margin-left: 50%;
}

.home-img img{
    width: 400px;
    border-radius: 50% 50% 20px 20px;
    opacity:100%;
}

/*
@media screen and (max-width: 500px){
    .home-img img{
        width: 1000px;
    }
    .home-nav{
        background-color: black;
    }

}*/


footer .social ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
.social ul{
    position: fixed;
    bottom: 10%;
    right: 10%;
}
.social ul li img {
    width: 30px;
    border-radius: 30px;
}




/*schoenen*/

.schoenen-body{
    background-color: #dc621f;;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    background-color: #6ea8fe;
    border-radius: 10px;
    margin: auto 15px;
    padding: 2px;
}


.schoenen-content img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto 10px;
}

.schoenen-content button a, #betalen{
    color: white;
}

.schoenen-content button, #betalen{
    background-color: #a72dc2;
    position: relative;
    right: 30px;
    top: 80px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.schoenen-content button:hover, #betalen{
    background-color: #6ea8fe;
}

.schoenen-content div{
    width: 80%;
    height: 100%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
}


.schoenen-content h2{
    text-transform: capitalize;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    margin-left:40% ;
    text-align: center;
    background-color: blue;
    color: white;
}
.naar-boven img{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*contact*/

.contact-body{
    background-color: #6ea8fe;
}

.contact-container{
    width: 80%;
    height: 90vh;
    background-image: url("img/background/bk8.jpg");
    background-size: cover;
    margin: 5% auto;
    border-radius: 20px;
}

form {
    width: 800px;
    margin: 20px auto;
}
.contact-form fieldset {
    border: 2px solid navy;
    background-color: #5a9293;
    border-radius: 10px;
    margin: 2px auto;

}
.contact-form label {
    display: inline-block;
    color: #f5f3f3;
    width: 200px;
    text-align: right;
    border-radius: 5px;

}

.contact input {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin: 5px 20px;
    border-radius: 5px;
}


legend {
    text-align: center;
    background-color: #8bbbf6;
    color: #000509;
    padding: 10px;
    border-radius: 20px;
}


/*profiel*/
.profiel-form fieldset {
    border: 2px solid navy;
    background-color: #076009;
    border-radius: 10px;
    margin: 20px auto;

}
.profiel-form label {
    display: inline-block;
    color: #f5f3f3;
    width: 200px;
    text-align: right;
    margin: 5px auto;
    border-radius: 5px;

}

.profiel-form input {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin: 5px 25%;
    border-radius: 5px;
}

.profiel-body{
    background-image: url("img/background/bk2.jpg");
    background-size: cover;
}

.verzenden{
    display: flex;
    justify-content: center;
    align-items: center;
}
.verzenden input{
    background-color: #6ea8fe;
}
.verzenden input:hover{
    background-color: greenyellow;
}
.social-contact ul{
    position: fixed;
    right: 10%;
    bottom: 4%;
}

/*prijslijst*/
.prijs-lijst-body{
    background-image: url("img/background/bk4.jpg");
    background-size: cover;
}
.prijslijst-container{
    width: 80%;
    margin: auto;
    height: 80%;
}

.table-info {
    caption-side: top;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    background-color: #9c34e5;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

caption {
    text-transform: capitalize;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(98, 84, 124, 0.68);
    font-weight: bold;

}

.table-info td, table th {
    border-radius: 5px;
    background-color: white;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 5px;
}

#betalen{

    margin: 20px 40%;
}

@media screen and (max-width: 1200px) {

    main{

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

}
@media screen and (max-width: 500px) {
    .home-container, .schoenen-container, .contact-container, .prijslijst-container, .profile-container{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

}



